<ion-view hide-back-button="true" view-title="Home" hide-nav-bar="true">
  <ion-content class="background-black padding">

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/audio_icon.png">
      <audio controls autoplay="autoplay" poster="img/dummy_video.png" class="width-100" style="margin-top: -30px;">
        <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/audio_icon.png">
      <audio controls poster="img/dummy_video.png" class="width-100" style="margin-top: -30px;">
        <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/audio_icon.png">
      <audio controls poster="img/dummy_video.png" class="width-100" style="margin-top: -30px;">
        <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/audio_icon.png">
      <audio controls poster="img/dummy_video.png" class="width-100" style="margin-top: -30px;">
        <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/audio_icon.png">
      <audio controls poster="img/dummy_video.png" class="width-100" style="margin-top: -30px;">
        <source src="http://player.vimeo.com/external/85569724.sd.mp4?s=43df5df0d733011263687d20a47557e4" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
