<ion-view hide-back-button="true" view-title="Contact Us">
  <ion-content class="padding margin-top-30">

    <div class="margin-top-20">
      <span class="des-yourself-text">You can communicate with us if you have any sort of queries, submit bug report, report against copyright material or any other abuse act, share feedbacks and others. </span><br><br>
      <span class="des-yourself-text">We appreciate providing feedbacks, it help us to improve our product and services more in future.</span><br><br><br>
      <span class="des-yourself-text">Email: </span> <span class="des-yourself-text"><b>support@mediasoftpro.com</b></span>
    </div>


  </ion-content>
</ion-view>
