<ion-view hide-back-button="true" view-title="Home" hide-nav-bar="true">
  <ion-content class="background-black padding">

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/dummy_photo.png">
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/dummy_photo.png">
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/dummy_photo.png">
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/dummy_photo.png">
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

    <div>
      <!--autoplay="autoplay"-->
      <img class="full-image" src="img/dummy_photo.png">
      <div class="row">
        <div class="text-center background-black padding">
          <i class="ion-thumbsup menu-icon-color"></i><br>
          <span class="menu-icon-color">2</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <i class="ion-thumbsdown menu-icon-color"></i><br>
          <span class="menu-icon-color">5</span>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Description</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Lyrics</p>
        </div>
        <div class="text-center background-black padding margin-left-5">
          <p class="color-white padding-top font-size-12">Add to Favorite</p>
        </div>
      </div>
    </div>

  </ion-content>

</ion-view>
