<ion-view hide-back-button="true" view-title="Privacy Policy">
  <ion-content class="padding margin-top-30">

    <div class="margin-top-20">
      <span class="des-yourself-text">The use of the this website ( Video Starter Kit) provided by MediaSoft Pro INc are subject to the provisions of this Privacy Policy, including any amendments or updates hereto. This Privacy Policy is incorporated into and is subject to the Video Starter Kit Terms & Conditions. If you do not agree to this Privacy Policy, please do not use the Website. </span><br>

      <div class="profile-video-backgroud privacy-div-text margin-bottom-10">

        <p class="upload-or-text-span">General</p>

      </div>
      <span class="des-yourself-text">

We gather certain types of information about our users and we want to help you understand the terms related to the collection and use of the information which we collect. This Privacy Policy discloses the types of information we gather, how we use it, and what choices you have regarding the collection of such information.

BY USING, ACCESSING THE WEBSITE), YOU AGREE TO THE COLLECTION AND USE OF YOUR PERSONAL INFORMATION, ALL IN ACCORDANCE WITH THE TERMS AND CONDITIONS SET HERE UNDER. MediaSoft Pro reserves the right to amend this Privacy Policy at any time and without notice, and it is your responsibility to review this Privacy Policy for any changes. Your use of the Website following any amendment of this Privacy Policy will signify your assent to and acceptance of its revised terms.

Please note that any video posted at the direction of users onto this website becomes published content and is not considered personally identifiable information subject to this Privacy Policy. Collection of Information Personal Information. Use of certain features of the Website may require submission of certain personal information, including your first and last name, email address, UserName and a password.
</span><br>

      <div class="profile-video-backgroud privacy-div-text margin-bottom-10">

        <p class="upload-or-text-span">Security</p>

      </div>
      <span class="des-yourself-text">Video Starter Kit has implemented security policies and rules to protect personally identifiable information under our control from unauthorized access, improper use or disclosure and unauthorized modification. </span><br>

      <div class="padding"></div>

    </div>


  </ion-content>
</ion-view>
