<ion-view hide-back-button="true" view-title="Settings">
  <!--<div class="bar bar-header item-input-inset nav-bar-style">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search" class="border-transparent">
    </label>
    <button class="button button-clear" ng-click="hideSearchBar()">
      Cancel
    </button>
  </div>-->
  <ion-content class="padding margin-top-50">

    <div class="padding-bottom-10">
      <div>
        <p class="font-size-15 font-bold color-gray">Instagram</p>

        <p class="color-gray">You can build your Vidmoji collection by liking your favourite clips posted by
          @Vidmoji</p>
        <button class="button facebook-button line-min-height" ng-click="goLogin()">Authenticate Instagram</button>
      </div>
      <div style="border-bottom: 2px solid #DFDFDF;">
        <p class="margin-top-10 color-light-gray" >Any time you like a vidmoji instagram clip, automatically add to
          my library</p>

        <div style="display: flex;">
          <div class="row" style="margin-bottom: 5px;">
            <div>
              <input type="radio"
                     name="radSize"
                     id="radio1"
                     value="small"
                     class="radio-button-bg"
                     style="border: 1px solid #DFDFDF;"
                     disabled/>
            </div>
            <div>
              <label for="radio1" class="radio-button-text color-light-gray">Yes</label>
            </div>
          </div>

          <div class="row" style="margin-bottom: 5px;margin-top: 5px;">
            <div>
              <input type="radio"
                     name="radSize"
                     id="radio2"
                     value="small"
                     class="radio-button-bg"
                     style="border: 1px solid #DFDFDF;"
                     disabled/>
            </div>
            <div>
              <label for="radio2" class="radio-button-text color-light-gray">No</label>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-top-10">
        <p class="font-size-15 font-bold color-gray">Device settings</p>

        <!--  Radio group 1 -->

        <div>
          <p class="color-gray">Download Vidmojis to device only when connected to Wi-Fi</p>

          <div style="display: flex;">
            <div class="row" style="margin-bottom: 5px;">
              <div>
                <input type="radio"
                       name="setting1"
                       id="radio3"
                       value="setting1"
                       class="radio-button-bg"
                       checked/>
              </div>
              <div>
                <label for="radio3" class="radio-button-text">Yes</label>
              </div>
            </div>

            <div class="row" style="margin-bottom: 5px;margin-top: 5px;">
              <div>
                <input type="radio"
                       name="setting1"
                       id="radio4"
                       value="setting1"
                       class="radio-button-bg"/>
              </div>
              <div>
                <label for="radio4" class="radio-button-text">No</label>
              </div>
            </div>
          </div>
        </div>

        <!--  Radio group 2 -->

        <div>
          <p class="color-gray">Upload Vidmojis only when connected to Wi-Fi</p>

          <div style="display: flex;">
            <div class="row" style="margin-bottom: 5px;">
              <div>
                <input type="radio"
                       name="setting2"
                       id="radio5"
                       value="setting2"
                       class="radio-button-bg"
                       checked/>
              </div>
              <div>
                <label for="radio5" class="radio-button-text">Yes</label>
              </div>
            </div>

            <div class="row" style="margin-bottom: 5px;margin-top: 5px;">
              <div>
                <input type="radio"
                       name="setting2"
                       id="radio6"
                       value="setting2"
                       class="radio-button-bg"/>
              </div>
              <div>
                <label for="radio6" class="radio-button-text">No</label>
              </div>
            </div>
          </div>
        </div>

        <!--  Radio group 3 -->

        <div>
          <p class="color-gray">Suggest Vidmojis only when connected to Wi-Fi</p>

          <div style="display: flex;border-bottom: 2px solid #DFDFDF;">
            <div class="row" style="margin-bottom: 5px;">
              <div>
                <input type="radio"
                       name="setting3"
                       id="radio7"
                       value="setting3"
                       class="radio-button-bg"
                       checked/>
              </div>
              <div>
                <label for="radio7" class="radio-button-text">Yes</label>
              </div>
            </div>

            <div class="row" style="margin-bottom: 5px;margin-top: 5px;">
              <div>
                <input type="radio"
                       name="setting3"
                       id="radio8"
                       value="setting3"
                       class="radio-button-bg"/>
              </div>
              <div>
                <label for="radio8" class="radio-button-text">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a class="button icon-right ion-ios-download-outline orange-button margin-top-20" ng-click="goHome()">Save&nbsp;</a>&nbsp;&nbsp;&nbsp;
        <a class="button icon-right ion-ios-arrow-thin-right orange-button margin-top-20" ng-click="goHome()">Skip</a>
      </div>

    </div>

   <!-- <div>
      <recent-comments params="{limit: 5, related:'thread'}"></recent-comments>
      <div recent-comments params="{limit: 5, related:'thread'}"></div>
    </div>-->
  </ion-content>
</ion-view>
