<ion-view hide-back-button="true" view-title="Upload">
  <ion-content class="padding margin-top-50">


    <!--<div class="" style="border: 1px solid orange;">-->

      <!--<div class="width-100 background-orange text-center color-white padding font-size-15">Upload / Chop</div>-->
        <fieldset class="border-orange-color">
            <legend class="background-orange color-white font-size-15 border-orange text-center">
                Upload / Chop
            </legend>

      <div class="">

        <div class="row">
          <div class="upload-div">
            <img class="upload-icons" src="img/file.png"><br>
            <span class="profile-gender-text">Step1 </span>
            <span class="profile-country-text">Open </span>
          </div>
          <div class="upload-div">
            <img class="upload-icons" src="img/cut.png"><br>
            <span class="profile-gender-text">Step2 </span>
            <span class="profile-country-text">Cut </span>
          </div>
          <div class="upload-div">
            <img  class="upload-icons" src="img/upload.png"><br>
            <span class="profile-gender-text">Step3 </span>
            <span class="profile-country-text">Save </span>
          </div>
        </div>

        <div class="text-center">

          <button class="button button-light upload-border-orange-color">
            Upload
          </button>

        </div>

        <div class="profile-video-backgroud upload-or-text">

          <p class="upload-or-text-span">OR</p>

        </div>

        <div>
          <div class="row">
            <div class="upload-div">
              <img class="" src="img/drive.png"><br>
              <span class="profile-gender-text">Google Drive</span>
            </div>
            <div class="upload-div">
              <img class="" src="img/dropbox.png"><br>
              <span class="profile-gender-text">Dropbox</span>
            </div>
            <div class="upload-div">
              <img  class="" src="img/link.png"><br>
              <span class="profile-gender-text">URL </span>
            </div>
          </div>

        </div>

        <div class="padding"></div>

      </div>

        </fieldset>
  </ion-content>
</ion-view>
